.wrong{
    color: red;
}

img.background{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    margin: 130px auto;
    padding: 20px;
    max-width: 600px;
    height: 600px;
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}
.forms{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 0 11px;
}
.col{
    padding: 15px 0;
}
.header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #9B8AF0;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}
label{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.btn{
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}
.btn-primary{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
}
.btn-primary:hover{
    background-color: #9B8AF0;
    border-color: #9B8AF0;
}
.btn:active{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
}
body{
    background: hsla(223, 46%, 66%, 1);
    background: linear-gradient(90deg, hsla(223, 46%, 66%, 1) 0%, hsla(233, 91%, 87%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8097D0", endColorstr="#BFC6FC", GradientType=1 );
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Анимация всё что ниже можно закомментировать */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

.flip-card .fliped {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  } 
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }