


/*------------------------------ Main ------------------------------*/


.wrong{
    color: red;
}

img.background{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    
}
.timeslot{
    text-align: start;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.lection{
    background-color: #FFB7B7;
}
.control{
    background-color: #EDC7FF;
}
.practice{
    background-color: #BFC6FC;
}
.seminar{
    background-color: #FFF6A9;
}
.row-element{
    text-align: center;
}
.table-container{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 48px;
}

.table-container :where(h1, p) {
    color: #ffffff;
    text-align-last: center;
    margin: 0;
}

.table-container h2{
    font-size: 48px;
}

.table-container p{
    margin-top: 8px;
    font-size: 16px;
    color: #f8eff6;
}
.table-element{
    padding: 0 30px;
   
}
.header-row{
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
}
.form-group{
    width: 350px;
}
.form-control{
    text-align: left;
    font-size: 18px;
    width: 100%;
    background-color: #B7CCFE;
    border: #B7CCFE;
    color: white;
}
.filter-option{
    font-size: 18px;
    background-color: #B7CCFE;
}
.filter-option-inner-inner{
    color: white;
    align-items: center;
    background-color: #B7CCFE;
}
.dropdown-item{
    background-color: #B7CCFE;
}
.bs-searchbox{
    background-color: #B7CCFE;
}
input .form-control{
    background-color: aliceblue;
}
.form-control:active{
    border: #B7CCFE;
    color: white;
}
.form-control:focus{
    border: #B7CCFE;
}
.btn-primary:hover{
    background-color: #9B8AF0;
    border-color: #9B8AF0;
}
.btn:active{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
}
body{
    background: hsla(223, 46%, 66%, 1);
    background: linear-gradient(90deg, hsla(223, 46%, 66%, 1) 0%, hsla(233, 91%, 87%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8097D0", endColorstr="#BFC6FC", GradientType=1 );
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}


/*------------------------------ Modal ------------------------------*/
.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.modal-header{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #9B8AF0;
    padding: 10px 0;
    border-radius: 8px;
    position: center;
    width: 200px;
    display: block;
    margin: 10px auto;
}
.modal-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-dialog{
    margin: 130px auto;
    padding: 20px;
    max-width: 300px;
    height: 1000px;
}

.form-label{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
}
.btn-secondary{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
    text-align: center;
    width: 150px;
    height: 40px;
}
.modal-body .form-control{
    background-color: #d7d7d7;
    color: white;
}


/*------------------------------ Modal Delete------------------------------*/
.btn-delete{
    color: white;
    background-color: #d7d7d7;
}
.btn-delete-secondary{
    color: white;
    background-color: #9B8AF0;
}

.arrows{
    border: none;
    border-radius: 30px;
    padding: 15px;
    transition: transform 0.20s ease-in-out;
}
.arrows:hover {
    outline: none;
    box-shadow: none;
    transform: scale3d(1.2, 1.2, 1.2);

}
.arrows:focus {
    outline: none;
    box-shadow: none;
}

#next_week{
    background: url("/img/next_week.png");
    background-repeat: no-repeat;
    background-position: center;
}
#prev_week{
    background: url("/img/prev_week.png");
    background-repeat: no-repeat;
    background-position: center;
}
