.wrong{
    color: red;
}

img.background{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    margin: 130px auto;
    padding: 20px;
    max-width: 600px;
    height: 600px;
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}
.buttons{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
}
.col-auto{
    padding: 30px 0;
}
.header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border: 5px solid #9B8AF0;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.btn{
    text-align: center;
    width: 100%;
    font-size: 30px;
    background-color: #7F8AE8;
    border-color: #7F8AE8;
    
}
body{
    background: hsla(223, 46%, 66%, 1);
    background: linear-gradient(90deg, hsla(223, 46%, 66%, 1) 0%, hsla(233, 91%, 87%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8097D0", endColorstr="#BFC6FC", GradientType=1 );
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Button Animation */


.icon {
  display: block;
  width: 30px;
  height: 30px;
  height: 100%;
  position: absolute;
  top: 0;
}
span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
  }

  span:after {
    content: '';
    background-color: #9B8AF0;
    width: 2px;
    position: absolute;
    top: 15%;
    right: -1px;
  }