img.background{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    margin: 130px auto;
    padding: 20px !important;
    max-width: 400px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 48px;
}
.container :where(h1, p) {
    color:#ffffff;
    text-align-last: center;
    margin: 0;
}

.container h2{
    font-size: 48px;
}

.container p{
    margin-top: 8px;
    font-size: 16px;
    color: #ffffff;
}

.col-auto{
    padding: 30px 0;
    color: #ffffff;

}
.col-12{
    color: #ffffff;
}
.header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #9B8AF0;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    height: 70px;
    width: 50px;
}
.btn{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.btn:hover{
    background-color: #9B8AF0;
    border-color: #9B8AF0;
}
.btn:active{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
}
body{
    background: hsla(223, 46%, 66%, 1);
    background: linear-gradient(90deg, hsla(223, 46%, 66%, 1) 0%, hsla(233, 91%, 87%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8097D0", endColorstr="#BFC6FC", GradientType=1 );
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-secondary{
    background-color: #A5B2C5;
    border-color: #A5B2C5 ;
    text-align: center;
    width: 130px;
    height: 40px;
}
.btn-primary{
    background-color: #7F8AE8;
    border-color: #7F8AE8;
    text-align: center;
    width: 130px;
    height: 40px;
}
.btn-delete{
    color: #ffffff;
    background-color: #7F8AE8;
    border-color: #7F8AE8;
}
.btn-secondary{
    color: #ffffff;
    background-color: #7F8AE8;
    border-color: #7F8AE8;
    width: 140px;
    text-align: center;
}
.modal-dialog{
    margin: 80px auto;
    padding: 10px;
    max-width: 350px;
    height: 250px;
    
}
.label-for-form{
    font-size: 18px;
    color: #5F5E5E;
}
.form-label{
    font-size: 18px;
    color: #5F5E5E;
}
